@tailwind base;

html {

font-family: Aladin;

}

div {font-family: Aladin;}
p {font-family: Aladin;}
h1 {font-family: Aladin;}
#dram {font-size: 40px;
  color: #e90000
}
#h {
  background-color: #3f6bd1;
}

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;

/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */


